<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	<!-- 注解配置 -->
	<context:annotation-config/>
	
	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<!--  <prop key="hibernate.show_sql">true</prop> -->
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		
		<!-- 配置Hibernate的映射文件 -->
		<property name="mappingResources">
			<list>
				<value>sys/user/entity/User.hbm.xml</value>
				<value>sys/admin/AdminUser.hbm.xml</value>
				<value>sys/category/Category.hbm.xml</value>
				<value>sys/audio/ProAudio.hbm.xml</value>
				<value>sys/author/AuthorColumn.hbm.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- ====================Action的配置 =====================-->
	
	<!-- 首页访问的Action -->
	<bean id="indexAction" class="sys.index.action.IndexAction" scope="prototype">
	</bean>
	
	<!-- 配置验证码 -->
	<bean id="checkImgAction" class="sys.user.action.CheckImgAction" scope="prototype">
	</bean>
	
	<!-- 用户模块Action -->
	<bean id="userAction" class="sys.user.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	
	<!-- 一级分类Action -->
	<bean id="categoryAction" class="sys.category.CategoryAction" scope="prototype">
		<property name="categoryService" ref="categoryService"></property>
	</bean>
	
	<!-- 音频Action -->
	<bean id="proAudioAction" class="sys.audio.ProAudioAction" scope="prototype">
		<property name="proAudioService" ref="proAudioService"></property>
	</bean>
	
	<!-- 作者专栏Action -->
	<bean id="authorColumnAction" class="sys.author.AuthorColumnAction" scope="prototype">
		<property name="authorColumnService" ref="authorColumnService"></property>
		<property name="categoryService" ref="categoryService"></property>
	</bean>
	
	<!-- 后台Action -->
	<bean id="adminUserAction" class="sys.admin.AdminUserAction" scope="prototype">
		<property name="adminUserService" ref="adminUserService"></property>
	</bean>
	
	
	
	
	<!-- ====================service的配置========================== -->
	<bean id="userService" class="sys.user.service.UserService">
		<property name="userDao" ref="userDao"/>
	</bean>
	
	<!-- 分类Service -->
	<bean id="categoryService" class="sys.category.CategoryService">
		<property name="categoryDao" ref="categoryDao"></property>
	</bean>
	
	<!-- 音频Service -->
	<bean id="proAudioService" class="sys.audio.ProAudioService">
		<property name="proAudioDao" ref="proAudioDao"></property>
	</bean>
	
	<!-- 作者专栏Service -->
	<bean id="authorColumnService" class="sys.author.AuthorColumnService">
		<property name="authorColumnDao" ref="authorColumnDao"></property>
	</bean>
	
	<!-- 后台Service -->
	<bean id="adminUserService" class="sys.admin.AdminUserService">
		<property name="adminUserDao" ref="adminUserDao"></property>
	</bean>
	
	
	
	
	<!-- ====================dao的配置============================== -->
	<bean id="userDao" class="sys.user.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 分类Dao -->
	<bean id="categoryDao" class="sys.category.CategoryDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 音频Dao -->
	<bean id="proAudioDao" class="sys.audio.ProAudioDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 作者专栏Dao -->
	<bean id="authorColumnDao" class="sys.author.AuthorColumnDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!--后台Dao -->
	<bean id="adminUserDao" class="sys.admin.AdminUserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
</beans>
